In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("diabetes.csv")

In [3]:
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [4]:
df = df[['Glucose','BloodPressure','DiabetesPedigreeFunction','Age','Outcome']]

In [5]:
df.head(10)

   Glucose  BloodPressure  DiabetesPedigreeFunction  Age  Outcome
0      148             72                     0.627   50        1
1       85             66                     0.351   31        0
2      183             64                     0.672   32        1
3       89             66                     0.167   21        0
4      137             40                     2.288   33        1
5      116             74                     0.201   30        0
6       78             50                     0.248   26        1
7      115              0                     0.134   29        0
8      197             70                     0.158   53        1
9      125             96                     0.232   54        1

In [6]:
df.describe()

,Glucose,BloodPressure,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000
mean,120.894531,69.105469,0.471876,33.240885,0.348958
std,31.972618,19.355807,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.078000,21.000000,0.000000
25%,99.000000,62.000000,0.243750,24.000000,0.000000
50%,117.000000,72.000000,0.372500,29.000000,0.000000
75%,140.250000,80.000000,0.626250,41.000000,1.000000
max,199.000000,122.000000,2.420000,81.000000,1.000000

In [7]:
x_train,x_test,y_train,y_test = train_test_split(df.drop('Outcome',axis=1),
                                                 df['Outcome'],
                                                 test_size=0.2,
                                                 random_state=0)

In [9]:
x_train.head(10)

     Glucose  BloodPressure  DiabetesPedigreeFunction  Age
603      150             78                     0.692   54
118       97             60                     0.443   22
247      165             90                     0.427   23
157      109             56                     0.833   23
468      120              0                     0.183   38
193      135              0                     0.578   40
306      161             68                     0.326   47
319      194             78                     0.129   59
97        71             48                     0.323   22
530      122             60                     0.717   22

In [11]:
x_train.describe()

          Glucose  BloodPressure  DiabetesPedigreeFunction         Age
count  614.000000     614.000000                614.000000  614.000000
mean   120.895765      69.226384                  0.466471   33.594463
std     31.809725      19.550893                  0.333203   12.016168
min      0.000000       0.000000                  0.078000   21.000000
25%     99.000000      62.000000                  0.238000   24.000000
50%    117.500000      72.000000                  0.369000   29.000000
75%    141.000000      80.000000                  0.606500   41.000000
max    198.000000     122.000000                  2.420000   81.000000

In [12]:
#Scaler = StandardScaler

In [21]:
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [28]:
x_train_scaled = pd.DataFrame(x_train_scaled,columns = x_train.columns)
x_test_scaled = pd.DataFrame(x_test_scaled,columns = x_test.columns)

In [29]:
df.describe()

,Glucose,BloodPressure,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000
mean,120.894531,69.105469,0.471876,33.240885,0.348958
std,31.972618,19.355807,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.078000,21.000000,0.000000
25%,99.000000,62.000000,0.243750,24.000000,0.000000
50%,117.000000,72.000000,0.372500,29.000000,0.000000
75%,140.250000,80.000000,0.626250,41.000000,1.000000
max,199.000000,122.000000,2.420000,81.000000,1.000000

In [30]:
x_train_scaled.describe()

          Glucose  BloodPressure  DiabetesPedigreeFunction           Age
count  614.000000   6.140000e+02              6.140000e+02  6.140000e+02
mean     0.000000   1.041512e-16             -9.764176e-17 -3.471707e-17
std      1.000815   1.000815e+00              1.000815e+00  1.000815e+00
min     -3.803690  -3.543717e+00             -1.166818e+00 -1.048981e+00
25%     -0.688897  -3.699205e-01             -6.862388e-01 -7.991138e-01
50%     -0.106839   1.419821e-01             -2.927647e-01 -3.826685e-01
75%      0.632531   5.515042e-01              4.205946e-01  6.168003e-01
max      2.425896   2.701495e+00              5.867657e+00  3.948363e+00